.products-div{
    color: white;
    text-align: center;
}
.products-div ul{
    list-style: none;

}
.products-div li{
    margin-top: 50px;
}



.products-div #add{
       
        margin-left: 0px;
        background-color: #527ed7;
        box-shadow:  0 0 20px #527ed7;
        border: none;
        transition: all 250ms;
        color: white;
        font-size: 15px;
        padding: 15px 10px 15px 10px;
        border-radius: 20px;
        
    
}
#add-div{
    display: flex;
}

.products-div #add:hover{
    
opacity: 70%;
}

.products-div #delete{
    margin-left: 10px ;
    border:none;
    background-color: rgb(199, 53, 53);
    color: white;
    padding: 7px 2px 7px 2px;
    width: 35px;
    border-radius: 10px;
    font-size: 12px;
    transition: all 250ms;
}
.products-div #delete:hover{
    
    opacity: 70%;
    }

.products-div #edit{
    margin-left: 20px;
    border:2px solid #527ed7;
    color: #527ed7;
    background-color: transparent;
    padding: 5px 0px 5px 0px;
    width: 35px;
    border-radius: 10px;
    font-size: 12px;
    transition: all 250ms;
}
.products-div #edit:hover{
    
    opacity: 70%;
    }

.material-icons{
    font-size: 18px;
}
