.products-div{
    color: white;
    text-align: center;
}
.products-div ul{
    list-style: none;
    margin-top: 100px;

}
.products-div li{
    margin-top: 50px;
}



.products-div #add{
    float: right;
        margin-right: 20px;
        background-color: #527ed7;
        box-shadow:  0 0 20px #527ed7;
        border: none;
        transition: all 250ms;
        color: white;
        font-size: 15px;
        padding: 15px 10px 15px 10px;
        border-radius: 20px;
        
    
}
#add-div{
    display: flex;
}

.products-div #add:hover{
    
opacity: 70%;
}

.products-div #delete{
    margin-right: 20px;
    float: right;
    border:none;
    background-color: rgb(199, 53, 53);
    color: white;
    padding: 7px 2px 7px 2px;
    width: 35px;
    border-radius: 10px;
    font-size: 12px;
    transition: all 250ms;
    text-align: center;
}

strong{
    margin-right: 125px;
    
}

.products-div h2{
    color: rgba(255, 255, 255, 0.495);
}

.products-div #delete:hover{
    
    opacity: 70%;
    }

.products-div #edit{
    margin-right: 20px;
    float: right;
    border:2px solid #527ed7;
    color: #527ed7;
    background-color: transparent;
    padding: 5px 0px 5px 0px;
    width: 35px;
    border-radius: 10px;
    font-size: 12px;
    transition: all 250ms;
}
.products-div #edit:hover{
    
    opacity: 70%;
    }

.material-icons{
    font-size: 18px;
}

button.priority {
    float: left;
    background-color: transparent;
    color: rgb(199, 53, 53);
    border: 2px  solid rgb(199, 53, 53);
    padding: 5px 5px 5px 5px;
    width: 80px;
    border-radius: 10px;
    font-size: 12px;

  }
  
  
  button.important {
    float: left;
    background-color: transparent;
    color: rgb(239, 175, 13);
    border: 2px  solid rgb(239, 175, 13);
    padding: 5px 5px 5px 5px;
    width: 80px;
    border-radius: 10px;
    font-size: 12px;
  }
 
  button.optional {
    float: left;
    background-color: transparent;
    color: rgb(59, 185, 69);
    border: 2px  solid rgb(59, 185, 69);
    padding: 5px 5px 5px 5px;
    width: 80px;
    border-radius: 10px;
    font-size: 12px;
  }

  button.normal {
    float: left;
    background-color: transparent;
    color: white;
    border: 2px  solid white;
    padding: 5px 5px 5px 5px;
    width: 80px;
    border-radius: 10px;
    font-size: 12px;
  }

  #hr-tasks{
    margin-top: 20px;
    width: 70%;
    border:  1px solid rgba(255, 255, 255, 0.064);
  }